extends layout

block content
  p.span9.offset2
    | The Game of Life, also known simply as Life, is a 
    a('http://en.wikipedia.org/wiki/Cellular_automaton') cellular automaton 
    | devised by the British mathematician John Horton Conway in 1970.
  p.span9.offset2
    | The "game" is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves.
  p.span9.offset2
    input(type="button", class="btn", value="alpha")
    input(type="button", class="btn", value="bravo")
    input(type="button", class="btn", value="charlie")
    input(type="button", class="btn", value="delta")
    input(type="button", class="btn", value="echo")
  p.span9.offset2
    input(type='radio', name='thing', value='1') 
      | Thing 1 
    br
    input(type='radio', name='thing2', value='2') 
      | Thing 2 
    br
